#bodyContainer {  
  overflow: auto;
  margin: 4.5rem auto 0;
  scroll-behavior: smooth; 
  height: calc(100vh - 3.5rem);
}

@media (min-width: 1024px) {
  #bodyContainer {
    margin-top: 2rem;
  }
}