#carouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  color: transparent;
  scroll-behavior: smooth;
  background-color: #fff;
}
.carousel-item-container {
  margin: 1rem 0;
  display: flex;
  min-width: 100%;
  align-items: center;
  flex-direction: column;
}

#carouselContainer::-webkit-scrollbar {
  display: none;
}

.carousel-item-img {
  width: 3rem;
  height: auto;
  border-radius: 2rem;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.carousel-item-title {
  color: initial;
  font-weight: normal;
}

.carousel-paragraph {
  width: 90%;
  margin: 1rem 0;
  font-style: italic;
  text-align: center;
}

.carousel-pager-container {
  width: 100%;
  display: flex;
  color: transparent;
  background-color: #fff;
  justify-content: center;
}

.circular-pager-item {
  margin: 1rem;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #dde2e6;
}

.active-pager {
  background-color: #45d2b5;
}

@media (min-width: 1024px) {
  .carouselContainer {
    padding-top: 2rem;
  }

  .carousel-paragraph {
    width: 50%;
  }
  
  .carousel-pager-container {
    padding-bottom: 2rem;
  }
}
