#contactForm {
	padding: 1rem;
	background-color: #fff;
}

h4 {
	padding: 1rem 0 2rem;
}

.form-input {
	margin-left: 0.5rem;
	width: calc(70% - 0.5rem);
	padding: 0.3rem 1rem 0.3rem 0.5rem;
	border: 0.1rem solid rgb(221, 226, 230);
}

.input-container {
	display: flex;	
	margin-bottom: 1rem;
	align-items: center;
	justify-content: space-between;
}

.label-form-input {
	width: 30%;
	font-size: 0.9rem;
	min-width: fit-content;
}

#textAreaMessage {
	min-height: 3rem;
	color:#8b9298bd;
}