@font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/Flaticon.eot");
  src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Flaticon.woff2") format("woff2"),
    url("../assets/fonts/Flaticon.woff") format("woff"),
    url("../assets/fonts/Flaticon.ttf") format("truetype"),
    url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
span,
form,
label,
button,
footer,
header,
section {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  overflow: hidden;
  background-color: #f6f6f6;
  font-family: "Flaticon", sans-serif;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

#appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

p {
  color: #8b9298;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: lighter;
  letter-spacing: 0.3px;
}

.section-bold-title {
  font-size: 1.4rem;
  margin: 1rem 0 1.5rem;
}

section {
  padding: 1rem;
  max-width: 100%;
  margin-top: 0.2rem;
}

@media (min-width: 1024px) {
  p {
    text-align: left;
  }

  img {
    max-width: 50% !important;
  }

  section  {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .section-bold-title {
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 1024px) {
  img {
    height: auto;
    max-width: 100%;
  }
}
