#landing {
  padding: 1rem;  
  margin-top: 0;
  max-width: 100%;
  background-color: #fff;
}

#landingImg {
  width: 100%;
  height: auto;
}

#landingInfoTitle {
  padding: 1rem 0 0.5rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

#landingInfoContainer p {
  text-align: left;
}

@media (min-width: 1024px) {
  #landing {   
    flex-wrap: nowrap; 
    padding: 4rem 0 4rem 1rem;
    flex-direction: row-reverse;
  }

  #landingImg {    
    max-width: 60% !important
  }

  #landingInfoContainer {
    display: flex;
    padding: 0 6rem;
    flex-direction: column;
    justify-content: center;
  }

}